@import "utils/variables";

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

.pts-r {
	font-family: 'PT Sans', sans-serif;
	font-weight: $font-weight-base;
}

.pts-b {
	font-family: 'PT Sans', sans-serif;
	font-weight: $font-weight-bold;
}

body {
	@extend .pts-r;
	color: $text-base;
}